<section>
  <div class="page-wrapper">

    <h1 class="section-header">Edit <%= @experience.company %>'s experience'</h1>
    <%= render 'experiences/partials/experience_form' %>

  </div>
</section>
